body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h2{
    background-color: rgb(77, 138, 153);
    color: rgb(44, 47, 148);
}
.hello{
   font-size: bold;
   color: rgb(39, 39, 149);
}

img{
    float: right    ;
    height: 300px;
    width: 300px;
}
table{
    border: 2px solid;

}