* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: flex;
}

nav {
    width: 250px;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;

}

nav .logo {
    font-size: 25px;
    margin: 25px;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 20px;

}

li {
    margin: 10px;
    display: block;


}

li.active a {
    padding-left: 10px;
    border-left: 2px solid rgb(78, 12, 179);

}

a {
    text-decoration: none;
    color: rgb(104, 104, 104);
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

a:focus {
    color: black;
    font-size: 30px;
    transition: 1s;

}

button {
    font-size: 15px;
    margin: 10px;
    box-sizing: 180px;
    background-color: rgb(78, 12, 179);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px;
    border: none;
}

header {
    justify-content: space-evenly;
    padding: 10px;
    display: flex;
    height: 100px;
    width: 1487px;
    
}

input {
    width: 650px;
    height: 40px;
    margin: 10px;
    align-items: center;
}

.icon {
    align-items: center;
    justify-content: space-around;

}

.icon-one {
    margin: 10px;
    color: rgb(78, 12, 179);

}

.foto {
    border-radius: 50px;
    height: 50px;
    width: 50px;

}

main {
    background-color: rgb(245, 245, 245);
    align-items: flex-start;
    margin: 50px;
    width: 800px;
    height: 900px;
}

.star {
    background-color: rgb(78, 12, 179);
    color: white;
}
.boxs{
    display: flex;
  width: 50px;
    height: 100px;
    margin: 20px;
}
.box{
    background-color: white;
    /* margin: 10px; */
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
}