* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(190, 207, 210);
    padding: 30px;
}

.box {
    background-color: white;
    width: 400px;
    border-radius: 15px;
    height: 500px;
    padding: 14px;
}

.img {
    border-radius: 40px;
    width: 370px;
}
