.box1{
    background-color: rgb(27, 31, 49);
   width: 350px;
   height: 500px; 
   text-align: center   ;
   border-radius: 10px;
   font-family: sans-serif;
}
.man{
    margin-top: 60px;
    width:150px;
    height: 150px;
 border-radius: 50%;
 box-shadow: 5px 9px 10px rgb(12, 7, 40);
}
.text1{
    color: rgb(227, 227, 227);
}
.pp1{
    font-weight: bold;
    color: rgb(69, 69, 69);
}
.pp2{
    color: rgb(118, 118, 118);
font-weight: bold;
}
.button1{
    width: 130px;
    height: 40px;
    border-radius: 50px;
    background: rgb(78,0,96);
background: linear-gradient(90deg, rgba(78,0,96,1) 0%, rgba(162,56,166,0.9535962877030162) 100%);

}